[Unit]
Description=Post Boot Setup Script
# After=multi-user.target
After=network.target

[Service]
ExecStart=/bin/bash /post-boot/setup.sh
Type=oneshot
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
