#!/bin/bash

set -e
export HOST_NAME="{{ hostname }}"
export ETH0_IPS="{{ eth0_ips }}"
export WLAN0_IPS="{{ wlan0_ips }}"
export GATEWAY="{{ gateway }}"
export ETH0_DNS="{{ eth0_dns }}"
export WLAN0_DNS="{{ wlan0_dns }}"
export WIFI_SSID="{{ wifi_ssid }}"
export WIFI_PASSWORD="{{ wifi_psk_plain }}"
export WIFI_COUNTRY="{{ wifi_country }}"
